body {
    font-family: Verdana, sans-serif;
  }
  .heading
  {
      align-content: center;
      text-align: center;
      background-color: green;
      font-size: 45px;
      size: 45px ;
  }
  .content{
      font-size: larger;
  }
  .example{
      align-self: center;
      margin-left: 8px; 
      display: inline-block; 
      vertical-align: middle; 
      padding: 20px; 
      background-color: #f5f5f5; 
      border: 1px solid rgb(66, 62, 62); 
      border-radius: 4px;
      padding-right: 10px;
      width: 450px;
  }
  .snippet{
    align-self: center;
    margin-left: 8px; 
    display: inline-block; 
    vertical-align: middle; 
    padding: 20px; 
    background-color: #f5f5f5; 
    border: 1px solid rgb(66, 62, 62); 
    border-radius: 4px;
    padding-right: 10px;
    width: 400px;
  }
  .output{
      display: inline-block; 
      background-color: #f5f5f5; 
      border: 1px solid rgb(66, 62, 62); 
      border-radius: 4px;
      vertical-align: middle; 
      padding: 20px; 
      padding-right: 10px;
      width: 400px;
  }
  .image{
      float: left;
      height: 10px;
      width: 10px;
  }