<body>
    <br>
    <br>
    <h1 class="heading">Search in a Binary Search Tree</h1>
    <p class="content">You are given the root of a binary search tree (BST) and an integer val.
            <br>
            <br>
        Find the node in the BST that the node's value equals val and return the subtree rooted with that node. If such a node does not exist, return null.</p>

    <p><b> Example1:</b></p>
    <div class="example"><img src="assets\searchinbst1.jpg" ><pre>{{exp1}}</pre></div>

    <p><b>Example2:</b></p>
    <div class="example"><img src="assets\searchinbst2.jpg" ><pre>{{exp2}}</pre></div>


    <p><b>Constraints:</b></p>
    <ul>
        <li>The number of nodes in the tree is in the range [1, 5000].</li>
        <li>1 <= Node.val <= <sub>10</sub><sup>7</sup></li>
        <li>root is a binary search tree.</li>
        <li>1 <= val <= <sub>10</sub><sup>7</sup></li>
    </ul>
    
    <p><b>Solution:</b></p>
    <div class="example"><pre>{{snippet}}</pre></div>
         <br>
         <br>
         <br>
         <br>
</body>