body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    color: #fff;
    font-size: 25px;
    text-decoration-color: #fff;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}