<body>
    <br>
    <br>
    <h1 class="heading">Longest Common Subsequence</h1>
    <p class="content">You are given an n x n 2D matrix representing an image, rotate the image by <b>90</b> degrees (clockwise).
            <br>
            <br>
        You have to rotate the image in-place, which means you have to modify the input 2D matrix directly. <b>DO NOT</b> allocate another 2D matrix and do the rotation.</p>

    <p><b> Example1:</b></p>
    <div class="example"><img src="assets\rotatemat1.jpg" height="300px" width="600px"><pre>{{exp1}}</pre></div>

    <p><b>Example2:</b></p>
    <div class="example"><img src="assets\rotatemat2.jpg" height="300px" width="600px"><pre>{{exp2}}</pre></div>


    <p><b>Constraints:</b></p>
    <ul>
        <li>n == matrix.length == matrix[i].length</li>
        <li>1 <= n <= 20</li>
        <li>-1000 <= matrix[i][j] <= 1000</li>
    </ul>
    
    <p>
        <b>Explanation:</b>
        <br>
        <br>
        The most elegant solution for rotating the matrix is to firstly reverse the matrix around the main diagonal, 
         and then reverse it from left to right.
         These operations are called transpose and reflect in linear algebra.
        The resulting Matrix will be the rotated matrix.
        <br>
        <br>
        Here is a visualization to help you see why this works.
        <br>
        <br>
        <img src="assets\rotatematexplain.JPG">
    </p>
    <p><b>Solution:</b></p>
    <div class="example"><pre>{{snippet}}</pre></div>
         <br>
         <br>
         <br>
         <br>
</body>