<body>
    <br>
    <br>
    <h1 class="heading">Search in a Binary Search Tree</h1>
    <p class="content">Given the root of a binary search tree and the lowest and highest boundaries as low and high, trim the tree
         so that all its elements lies in [low, high]. Trimming the tree should not change the relative structure of the elements 
         that will remain in the tree (i.e., any node's descendant should remain a descendant). It can be proven that there is a 
         unique answer.
            <br>
            <br>
        Return the root of the trimmed binary search tree. Note that the root may change depending on the given bounds.</p>

    <p><b> Example1:</b></p>
    <div class="example"><img src="assets\trimbst1.jpg" ><pre>{{exp1}}</pre></div>

    <p><b>Example2:</b></p>
    <div class="example"><img src="assets\trimbst2.jpg" ><pre>{{exp2}}</pre></div>


    <p><b>Constraints:</b></p>
    <ul>
        <li>The number of nodes in the tree in the range [1, <sub>10</sub><sup>4</sup>]</li>
        <li>0 <= Node.val <= <sub>10</sub><sup>4</sup></li>
        <li>The value of each node in the tree is unique.</li>
        <li>root is guaranteed to be a valid binary search tree.</li>
        <li>0 <= low <= high <= <sub>10</sub><sup>4</sup></li>
    </ul>
    
    <p><b>Solution:</b></p>
    <div class="snippet"><pre>{{snippet}}</pre></div>
         <br>
         <br>
         <br>
         <br>
</body>