<head>
    <meta charset="UTF-8">
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="image-box">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20999.635769780798!2d77.48391785636792!3d28.67948223392487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf239133e7aa1%3A0xef0c435cd3fd9b62!2sPANCHSHEEL%20PRIMROSE%2C%20Avantika%20Colony%2C%20Shastri%20Nagar%2C%20Ghaziabad%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1649246775029!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <ul style="list-style: none;">
        <li><i class="fa fa-envelope" aria-hidden="true" style="font-size: 38px;"></i><a>Mail us at: blogweb2022@gmail.com</a></li>
        <li><i class="fa fa-instagram" style="font-size:48px;color:rgb(221, 42, 123)"></i><a> Follow us on instagram</a></li>
        <li><i class="fa fa-facebook-official" style="font-size:48px;color:blue"></i><a> Follow us on Facebook</a></li>
        <li><i class="fa fa-github" style="font-size:48px"></i><a> checkout our project on github</a></li>
        <li><i class="fa fa-linkedin-square" style="font-size:48px;color:rgb(40,103,178)"></i><div href="linkedinlink | translate"> Follow us on LinkedIn</div></li>
      </ul>
      </div>
  </div>
</body>


