<body>
    <br>
    <br>
    <h1 class="heading">Longest Common Subsequence</h1>
    <p class="content">
        Design a data structure that follows the constraints of a Least Recently Used (LRU) cache.
            <br>
        Implement the LRUCache class:
            <br>
            <ul>
        <li>LRUCache(int capacity) Initialize the LRU cache with positive size capacity.</li>
        <li> get(int key) Return the value of the key if the key exists, otherwise return -1.</li>
        <li>void put(int key, int value) Update the value of the key if the key exists. Otherwise, add the key-value pair to the cache.
             If the number of keys exceeds the capacity from this operation, evict the least recently used key.</li>
        </ul>
        <br>
        The functions get and put must each run in O(1) average time complexity.

    <p><b> Example:</b></p>
    <div class="example"><pre>{{exp1}}</pre></div>

    <p><b>Constraints:</b></p>
    <ul>
        <li>1 <= capacity <= 3000</li>
        <li>0 <= key <= <sub>10</sub><sup>4</sup></li>
        <li>0 <= value <= <sub>10</sub><sup>5</sup></li>
        <li>At most 2 * <sub>10</sub><sup>5</sup> calls will be made to get and put.</li>
    </ul>

    <p><b>Solution:</b></p>
    <div class="snippet"><pre>{{snippet}}</pre></div>
         <br>
         <br>
         <br>
         <br>
</body>