<body>
    <br>
    <br>
    <h1 class="heading">Recover Binary Search Tree</h1>
    <p class="content">You are given the root of a binary search tree (BST), where the values of exactly two nodes of the tree were swapped by mistake.
            <br>
            <br>
            Recover the tree without changing its structure.
    <p><b> Example1:</b></p>
    <div class="example"><img src="assets\recoverbst1.jpg" ><pre>{{exp1}}</pre></div>

    <p><b>Example2:</b></p>
    <div class="example"><img src="assets\recoverbst2.jpg" ><pre>{{exp2}}</pre></div>


    <p><b>Constraints:</b></p>
    <ul>
        <li>The number of nodes in the tree is in the range [2, 1000].</li>
        <li>-<sub>2</sub><sup>31</sup> <= Node.val <= <sub>2</sub><sup>31</sup>-1</li>
    </ul>
    
    <p><b>Follow Up:</b></p>
    <p>A solution using O(n) space is pretty straight-forward. Could you devise a constant O(1) space solution?</p>
    <p><b>Solution:</b></p>
    <div class="example"><pre>{{snippet}}</pre></div>
         <br>
         <br>
         <br>
         <br>
</body>